.A{
    display: flex;
}
h3{
    color: rgba(73, 205, 241, 0.96);
}
hr{
    border: 1px solid rgba(54, 163, 194, 0.721);
    color: rgba(36, 182, 222, 0.868);
}
table{
      width: 700px;
       border:2cm; 
       color: black;
       border-collapse: collapse;
       
}
tr{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

td{
    border: 1px solid black;
}
ul {
    list-style-type:square ;
}
li{
    list-style-type:square ;
}
